/* Body */
body {
  overflow-x: hidden;
}

/* Header Fix */
header:has(> .is-position-sticky) {
  position: sticky;
  top: calc(0px + var(--wp-admin--admin-bar--height, 0px));
  z-index: 100;
}

@media (max-width: 600px) {
  header:has(> .is-position-sticky) {
    top: 0;
  }
}

/* Navigation */
@media (min-width: 782px) {
  header .wp-block-navigation-item {
    padding: 4px 0;
  }

  header li.wp-block-navigation-link:nth-last-child(2) {
    border-right: 1px solid;
    padding-right: 12.5px;
  }

  header li.wp-block-navigation-link:last-of-type {
    margin-left: -12.5px;
  }
}

/* Navigation Media Breakpoint */
@media screen and (max-width: 782px) {
  /* Show the hamburger icon */
  .wp-block-navigation__responsive-container-open {
    display: block !important;
  }
  /* Hide the desktop navigation links */
  .wp-block-navigation__responsive-container:not(.is-menu-open.has-modal-open) {
    display: none !important;
  }
  /* Display the buttons in a column rather than in a row */
  .wp-block-navigation__responsive-container-content .wp-block-buttons {
    flex-direction: column;
    gap: 1rem;
  }
}

/* Footer */
footer .wp-block-buttons {
  display: none;
}

footer .footer-menu-heading {
  font-size: clamp(1rem, calc(0.818rem + 0.909vw), 1.5rem);
}

footer .footer-nav-list a {
  text-decoration: none;
}

footer .mobile-social-list {
  display: none;
}

@media screen and (max-width: 480px) {
  footer nav.wp-block-navigation {
    border-left: 1px solid var(--wp--preset--color--red);
    padding-left: 1.5rem;
  }

  footer nav ul.wp-block-navigation__container {
    flex-direction: column;
    align-items: flex-start;
  }

  footer .mobile-social-list {
    display: inherit;
  }

  footer .footer-social-group {
    display: none;
  }

  footer .footer-bottom-nav {
    flex-direction: column;
  }

  footer .footer-copyright {
    padding-top: 1rem;
    border-top: 1px solid var(--wp--preset--color--red);
  }
}

@media screen and (min-width: 782px) {
  footer .wp-block-navigation__container {
    padding-top: 6px;
    border-top: 1px solid var(--wp--preset--color--red);
  }
}

/* Hero Style 1 */
.hero-style-1 {
  min-height: calc(100vh - 126px) !important;
}

@media screen and (max-width: 782px) {
  .hero-style-1 {
    min-height: auto !important;
  }
}

/* Pricing Card Buttons */
.absolute-bottom {
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
}

.absolute-top {
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
}

.relative-position {
  position: relative;
}

/* Pricing Slider */
/* .pricing-slider .swiper {
  overflow: visible;
} */

.pricing-slider .cb-button-prev,
.pricing-slider .cb-button-next {
  color: var(--wp--preset--color--red);
  font-size: 20px;
}

/* .pricing-slider .cb-button-prev {
  top: 104%;
  left: 44.5%;
  color: #67201e;
}

.pricing-slider .cb-button-next {
  top: 104%;
  right: 44.5%;
  color: #67201e;
} */

.wp-block-cb-carousel-v2.pricing-slider
  .cb-pagination.swiper-pagination-horizontal.swiper-pagination-bullets
  .cb-pagination-bullet {
  background: #67201e;
  transform: scale(2);
  margin: 0 11px;
}

.wp-block-cb-carousel-v2.pricing-slider
  .cb-pagination.swiper-pagination-horizontal.swiper-pagination-bullets
  .cb-pagination-bullet.swiper-pagination-bullet-active {
  background: #67201e;
  transform: scale(2.5);
}

.swiper-wrapper {
  align-items: center;
}

@media screen and (max-width: 782px) {
  .pricing-card {
    padding-bottom: 4rem !important;
  }

  .swiper-wrapper .featured-pricing-card {
    padding-top: 4rem !important;
    min-height: 680px !important;
  }
}

/* Process list */
.process-list-item-row.is-layout-flex {
  align-items: flex-start;
}

/* FAQ Accordion */
.faq-accordion-header button .wp-block-accordion-heading__toggle-title {
  order: 2;
}

.wp-block-accordion-heading__toggle:hover
  .wp-block-accordion-heading__toggle-title {
  text-decoration: none;
}

.faq-accordion-header button .wp-block-accordion-heading__toggle-icon {
  order: 1;
  margin-right: 1rem;
  transform: scale(2);
}

.faq-accordion-header button.wp-block-accordion-heading__toggle {
  align-items: flex-start;
}

.wp-block-accordion-item.is-open
  > .wp-block-accordion-heading
  .wp-block-accordion-heading__toggle-icon {
  transform: scale(2) rotate(45deg);
}

.faq-accordion-panel {
  padding-left: 4rem !important;
}

/* Testimonials Slider */
.testimonials-slider
  .cb-pagination.swiper-pagination-horizontal.swiper-pagination-bullets
  .cb-pagination-bullet {
  background: #ceda9d;
  transform: scale(2);
  margin: 0 11px;
}

.testimonials-slider
  .cb-pagination.swiper-pagination-horizontal.swiper-pagination-bullets
  .cb-pagination-bullet.swiper-pagination-bullet-active {
  transform: scale(2.5);
}

.testimonials-slider .cb-button-next:after,
.testimonials-slider .cb-button-prev:after {
  font-size: 20px;
  color: var(--wp--preset--color--white);
}

/* .testimonials-slider .cb-button-next.swiper-button-next {
  top: 108.5%;
  right: 47%;
}

.testimonials-slider .cb-button-prev.swiper-button-prev {
  top: 108.5%;
  left: 47%;
} */

.testimonials-location-text {
  font-size: clamp(1rem, calc(0.833rem + 0.556vw), 1.25rem);
  font-style: italic;
}

/* Callout - Style 3 */

.callout-image-desktop {
  display: none;
}

.callout-image-mobile {
  display: block;
}

@media screen and (min-width: 782px) {
  .callout-image-desktop {
    display: block;
  }
  .callout-image-mobile {
    display: none;
  }
}

/* WP Store Locator */
/* #wpsl-result-list {
  display: none !important;
} */

#wpsl-gmap,
.wpsl-gmap-canvas {
  width: 100% !important;
  border-radius: 40px;
}

.wpsl-search.willow-location-search {
  background: transparent;
  /* display: inline-block; */
  display: block;
  width: 100%;
  max-width: 400px;
  margin-bottom: 2rem;
}

.willow-location-search #wpsl-search-wrap {
  float: none;
}

.wpsl-search.willow-location-search #wpsl-search-wrap form {
  background: var(--wp--preset--color--white);
  border-radius: 30px;
  border: 1px solid var(--wp--preset--color--pink);
  display: flex;
  line-height: 1;
}

.wpsl-search.willow-location-search #wpsl-search-wrap form div,
.willow-location-search #wpsl-search-btn {
  float: none;
  display: flex;
}

.willow-location-search #wpsl-search-wrap .wpsl-input {
  margin: 0;
  flex: 1;
}

.willow-location-search #wpsl-search-wrap .wpsl-input input#wpsl-search-input {
  display: block;
  border-radius: 0px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background: var(--wp--preset--color--white);
  border: none;
  flex: 1;
  font-size: 18px;
}

.willow-location-search
  #wpsl-search-wrap
  .wpsl-input
  input#wpsl-search-input::placeholder {
  font-size: 14px;
  color: var(--wp--preset--color--red);
  font-family: var(--wp--preset--font-family--helvetica);
  font-style: italic;
}

.willow-location-search #wpsl-search-wrap form .wpsl-search-btn-wrap {
  margin: 0;
  z-index: 1;
}

.willow-location-search
  #wpsl-search-wrap
  form
  .wpsl-search-btn-wrap
  #wpsl-search-btn {
  margin: 0;
  border-radius: 30px;
  border: 1px solid var(--wp--preset--color--pink);
  background: var(--wp--preset--color--pink);
  color: var(--wp--preset--color--white);
  font-family: var(--wp--preset--font-family--crimson-text);
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  padding: 9px 2rem;
}

.gm-style-iw {
  color: var(--wp--preset--color--red) !important;
  overflow: visible !important;
  padding: 10px !important;
  line-height: 1.2;
  max-width: 200px !important;
  width: 100% !important;
}

.gm-style-iw-d {
  padding-right: 48px !important;
}

.gm-style-iw-chr {
  height: 0px;
}

button.gm-ui-hover-effect {
  position: absolute !important;
  top: 0;
  right: 0;
}

.wpsl-info-window {
  font-family: var(--wp--preset--font-family--ar-one-sans) !important;
}

.wpsl-info-window a {
  font-size: 1rem !important;
  font-weight: 600 !important;
  line-height: 1.5 !important;
}

/* General */
.font-size-22 {
  font-size: clamp(1rem, calc(0.864rem + 0.682vw), 1.38rem);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
